!!!

%html
  %head
    %title Chat
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag    "http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css"
    = stylesheet_link_tag    "http://code.jquery.com/mobile/1.0/jquery.mobile.structure-1.0.min.css"
    = javascript_include_tag "http://192.168.1.164:8080/application.js"
    = javascript_include_tag "application" 
    = javascript_include_tag "http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"
    = csrf_meta_tags
    <meta name="viewport" content="width=device-width, initial-scale=1">
  %body
    %div{ "data-role" => "page"}
      %div{ "data-role" => "header"}
        %h1
          Chatter GO!
      %div{ "data-role" => "content"}
        = yield
      %div{ "data-role" => "footer"}
        %h4
               
